body{
  background-color:cornsilk;
}
.app{
  text-align: center;
}

.container{
  background-color: aqua;
  justify-content: center;
  width: 70%;
  margin-left: 60%;
  margin: 5%;
  text-align: center;
  padding: 20px;
}
input[type=text],select{
  width: 80%;
  padding: 12px 20px;
  margin: 30px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
.header{
  background-color: rgb(211, 21, 211);
  height: 40px;
  width: 100%;
  padding-top: 2px;
}

button{
  width: 15%;
  background-color: antiquewhite;
  color: black;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
}
.list-heading{
  color: aliceblue;
  font-size: 40px;
  text-align: left;
  background-color: black;
  width: 60%;
}

listdata{
  width: 40%;
  color: black;
  font-size: 40px;
  background-color: bisque;
  text-align: center;

}
.btn-position{
  position: relative;
  left: 10%;
  top: -40px;
}